<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.spence.reap.maintenance</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/spencer/.cargo/bin/reap</string>
    <string>maintain</string>
    <string>--apply</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/spencer</string>
    <key>PATH</key>
    <string>/Users/spencer/.cargo/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>USER</key>
    <string>spencer</string>
    <key>XDG_STATE_HOME</key>
    <string>/Users/spencer/.local/state</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>/Users/spencer</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>4</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>
</dict>
</plist>
